* text=auto
*.bat text eol=crlf
*.cjs text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.json text eol=lf
*.png binary
*.jpg binary
